<main>
  @if(isLoaded){
    <section class="filters">
      <form [formGroup]="weatherFiltersForm">
          <input type="checkbox" id="humidity" formControlName="humidity"/>
          <label for="humidity">Humidité</label>

          <input type="checkbox" id="apparentTemperature" formControlName="apparentTemperature" />
          <label for="apparentTemperature">Température ressentie</label>

          <input type="checkbox" id="precipitation" formControlName="precipitation" />
          <label for="precipitation">Précipitations</label>

          <input type="checkbox" id="rain" formControlName="rain" />
          <label for="rain">Pluie</label>

          <input type="checkbox" id="windSpeed" formControlName="windSpeed" />
          <label for="windSpeed">Vitesse du vent</label>
      </form>
    </section>

    <section class="weather">
      <div class="meteo-text">
        <h1>
          Météo
        </h1>
      </div>
      <div class="city-and-temperature">
        <div class="rounded-rectangle">
          <i class="wi wi-day-cloudy"></i>
          <div class="text-group">
            <h1>{{ city }}</h1>
            <h1>{{ weather.temperature }} °C</h1>
          </div>
          <div class="false-elt-right">
            <i class="wi wi-day-cloudy"></i>
          </div>
        </div>
      </div>

      <div class="grid">
        @if (weather.humidity) {
          <div class="card" (click)="openDialog()">
            <h4> Humidité </h4>
            <p> {{ weather.humidity }}% </p>
          </div>

        }
        @if (weather.apparentTemperature) {
          <div class="card">
            <h4> Température ressentie </h4>
            <p> {{ weather.apparentTemperature }} °C</p>
          </div>
        }

        @if (weather.rain || weather.rain == 0) {
          <div class="card">
            <h4> Pluie </h4>
            <p> {{ weather.rain }} </p>
          </div>
        }

        @if (weather.precipitation || weather.precipitation == 0) {
          <div class="card">
            <h4> Précipitations </h4>
            <p> {{ weather.precipitation }} </p>
          </div>
        }

        @if (weather.windSpeed) {
          <div class="card">
            <h4> Vitesse du vent </h4>
            <p> {{ weather.windSpeed }} km/h</p>
          </div>
        }
      </div>

    </section>
  }
  @else{
    <h1>Chargement de la page en cours</h1>
  }
</main>

<router-outlet></router-outlet>
